{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<body>
	<img src={{  predictions }} alt="Italian Trulli">

					<!-- {{ predictions }} -->
					<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

</body>
</html>
    <title>Index</title>
</head>
<body>
</body>
</html>


{% endblock %}
